<?php
if (session_status() == PHP_SESSION_NONE) {
    session_start();
}

if(isset($_SESSION['id11']))
  header('Location: index.php');
?>
<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="views/assets/css/admin_panel.css">
</head>
<body>

<div id="id01" class="modal">

  <form class="modal-content" action="index.php" method="post">

    <div class="container">
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" required>

      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>

      <button type="submit">Login</button>

    </div>

  </form>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="views/js/ajax.js"></script>

</body>
</html>
