<div class="page" id="team">
  <div class="title_panel"><h1>Team</h1>
  </div>


  <div class="panel">
    <h2>add team member</h2>
    <div class="edit_team">
      <form id="team_member">
      name: <input type="text" name="name" placeholder="name"><br>
      status: <input type="text" name="status" placeholder="status"><br>
      description: <br>
      <textarea rows="4" cols="54"></textarea>
      <input type="file" name="pic" accept="image/*"><br>
      <input type="submit">
      </form>
    </div>

    <!-- <form action="/action_page.php">
      <div class="row">
        <div class="col-25">
          <label for="fname">First Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Status</label>
        </div>
        <div class="col-75">
          <input type="text" id="status" name="status" placeholder="status...">
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="subject">Subject</label>
        </div>
        <div class="col-75">
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Submit">
      </div>
    </form>
  </div> -->

  <div class="panel team">
  </div>
</div>

<div class="page" id="about">
  <div class="title_panel"><h1>About</h1>
  </div>


  <div class="panel">
    <h2>Edit</h2>
    <div class="edit_team">
      <form id="about_us">
      title: <input type="text" name="name" placeholder="name"><br>
      description: <br>
      <textarea rows="4" cols="54"></textarea>
      <input type="submit">
      </form>
    </div>
  </div>
  <div class="panel team">
  </div>
</div>

<div class="page" id="projects">
  <div class="title_panel"><h1>Projects</h1>
  </div>


  <div class="panel">
    <h2>add project</h2>
    <div class="edit_team">
      <form id="project">
      project name: <input type="text" name="name" placeholder="name"><br>
      description: <br>
      <textarea rows="4" cols="54"></textarea>
      <input type="file" name="pic" accept="image/*"><br>
      <input type="submit">
      </form>
    </div>
  </div>
  <div class="panel team">
  </div>
</div>

<div class="page" id="news">
  <div class="title_panel"><h1>News</h1>
  </div>

  <div class="panel">
    <h2>add news</h2>
    <div class="edit_team">
      <form id="new">
      name: <input type="text" name="name" placeholder="name"><br>
      description: <br>
      <textarea rows="4" cols="54"></textarea>
      <input type="file" name="pic" accept="image/*"><br>
      <input type="submit">
      </form>
    </div>
  </div>
  <div class="panel team">
  </div>
</div>
