@media (min-width: 576px) and (max-width: 767px){

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

 }

@media (max-width: 767px){
  .cont ul {
    padding-top: 50px;
  }
}
@media (min-width: 768px){

}

@media (max-width: 991px){
  .menu_open {
    display: initial;
  }
  .pages {
    height: 0;
    overflow: hidden;
    background-color: #fefefe;
  }
  .pages div {
    width: 110vw;
  }
  .clone .pages div {
    height: 30px;
    padding-top: 0;
  }
}
@media (min-width: 992px){

}

@media (max-width: 1175px){      /* ---- not standart */
  .spacer {
    display: none;
  }
  .image_bg h2 {
    transform: translatey(250px);
  }
}

@media (max-width: 1200px) {

}
@media (min-width: 1200px) {

}
